// Gilroy Font
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/Gilroy-Medium.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../assets/fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../assets/fonts/Gilroy-Medium.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../assets/fonts/Gilroy-Medium.woff")
      format("woff"),
    /* Modern Browsers */ url("../assets/fonts/Gilroy-Medium.ttf")
      format("truetype"); /* Safari, Android, iOS */
}

body {
  font-family: "Gilroy", sans-serif;
  margin: 0;
  background-color: black;
  height: 100vh;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

// Preloader styles

.preloader {
  width: 100%;
  height: 100%;
  background-color: black;
}

.pswp__preloader__icn {
  opacity: 0.75;
  width: 14px;
  height: 14px;
  -webkit-animation: clockwise 500ms linear infinite;
  animation: clockwise 500ms linear infinite;
  position: fixed;
  top: 5px;
  left: 5px;
}

.pswp__preloader__icn-hide {
  display: none;
}

.pswp__preloader__cut {
  position: relative;
  width: 7px;
  height: 14px;
  overflow: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

.pswp__preloader__donut--fake {
  box-sizing: border-box;

  width: 14px;
  height: 14px;

  border: 2px solid red;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;

  background: none;
  margin: 0;
}

.pswp__preloader__donut {
  box-sizing: border-box;

  width: 14px;
  height: 14px;

  border: 2px solid #fff;
  border-radius: 50%;
  border-left-color: transparent;
  border-bottom-color: transparent;

  position: absolute;
  top: 0;
  left: 0;

  position: absolute;
  top: 0;
  left: 0;

  background: none;
  margin: 0;

  -webkit-animation: donut-rotate 1000ms cubic-bezier(0.4, 0, 0.22, 1) infinite;
  animation: donut-rotate 1000ms cubic-bezier(0.4, 0, 0.22, 1) infinite;
}

@-webkit-keyframes clockwise {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes clockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes donut-rotate {
  0% {
    -webkit-transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(-140deg);
  }
  100% {
    -webkit-transform: rotate(0);
  }
}
@keyframes donut-rotate {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(-140deg);
  }
  100% {
    transform: rotate(0);
  }
}
