@media screen and (min-width: 300px) {
  .question-picture-wrapper {
    width: 100vw;
    height: 100vh;
    background-color: #000;
  }

  .question-picture {
    width: calc(100% - 32px);
    height: 100vh;
    margin: 0 auto;
    overflow-y: hidden;
  }

  .question-picture-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 20px;
  }

  .question-picture-header-time {
    color: #fff;
    font-size: 18px;
  }

  .question-close {
    box-sizing: border-box;

    width: 15px;
    height: 15px;

    background-color: transparent;
    background-image: url("../../assets/svg/CategoryClose.svg");
    background-repeat: no-repeat;

    border: none;

    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
  }

  .question-picture-question {
    color: #fff;

    font-size: 21px;
    line-height: 28px;
    letter-spacing: -0.5;

    margin: 36px 0 25px;
  }

  .question-picture-wrap {
    width: 100%;
    height: 294px;

    margin: 0 0 25px;
  }

  .question-picture-img {
    width: 100%;
    height: 100%;

    object-fit: cover;

    border-radius: 20px;
  }

  .question-author-button-wrap {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 158px);
    grid-column-gap: 12px;
    grid-row-gap: 10px;

    .question-author-button {
      width: 158px;
      height: 48px;

      font-size: 16px;
      line-height: 18px;

      transition: 0.6s all ease;
      &:hover {
        color: #000;
        background-color: #ffbca2;
      }
    }
  }

  // модальное окно с правильным ответом
  .main-wrapper {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
  }

  .button-next-wrap {
    padding: 15px 15px 20px;
    width: calc(100% - 30px);

    transform: translateY(100%);

    background-color: #fff;
    border-radius: 20px;

    color: black;

    display: flex;
    flex-direction: column;
    align-items: center;

    transition: 0.4s all ease;

    position: relative;
    z-index: 4;

    .button-modal-next {
      background-color: #ffbca2;
      color: black;

      border: none;

      height: 46px;
      width: 180px;

      margin-top: 20px;

      font-size: 16px;
      transition: 0.4s all ease;
      &:hover {
        background-color: #fb966e;
      }
    }
  }

  .button-next-wrap-open {
    transform: translateY(-120%);
  }

  .current-image {
    border-radius: 20px;

    margin-bottom: 20px;
    width: 300px;
    height: 260px;

    position: relative;
  }

  .question-picture-img-modal {
    width: 100%;
    height: 100%;

    object-fit: cover;

    border-radius: 20px;
  }

  .answer-true {
    width: 40px;
    height: 40px;
    border-radius: 50%;

    background-image: url("../../assets/svg/true.svg");
    background-repeat: no-repeat;
    background-size: 40px 40px;
    background-color: #000;

    position: absolute;
    bottom: 20px;
    left: 20px;
  }

  .answer-false {
    background-image: url("../../assets/svg/false.svg");
    background-color: #000;
  }

  .current-name {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .current-author {
    margin-bottom: 10px;
  }

  .overflow {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .overflow-active {
    display: block;
  }

  // модальное окно при выходе с самой викторины-----------------------------
  .question-close-modal {
    padding: 15px 15px 20px;
    width: calc(100% - 62px);

    position: fixed;
    z-index: 4;

    transform: translateY(-100%);

    background-color: #fff;
    border-radius: 20px;
    color: black;

    transition: 0.4s all ease;

    .question-close-modal-menu,
    .question-close-modal-category {
      width: 144px;
      height: 46px;

      color: black;
      font-size: 16px;
      line-height: 18px;

      border: 1px solid black;

      transition: 0.4s ease all;

      &:hover {
        background-color: #ffbca2;
        border: 1px solid #ffbca2;
      }
    }
  }

  .question-close-modal-open {
    transform: translateY(100%);
  }

  .button-close-modal-menu {
    width: 14px;
    height: 14px;

    display: block;
    margin: 5px 5px 0 auto;

    background-image: url("../../assets/svg/Close.svg");
    background-repeat: no-repeat;
    background-size: 14px 14px;
    background-color: transparent;

    border: none;
    cursor: pointer;
  }

  .question-close-modal-text {
    text-align: center;

    width: 199px;

    font-size: 22px;
    line-height: 28px;

    margin: 30px auto 55px;
  }

  // модальное окно по окончанию викторины------------------------
  .quiz-modal-end {
    width: calc(100% - 50px);
    padding: 0 9px 25px;

    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 4;

    transform: translate(200%, -50%);

    background-color: white;
    border-radius: 20px;
    color: black;

    background-image: url("../../assets/svg/ResultLogo.svg");
    background-repeat: no-repeat;
    background-size: 148px 140px;
    background-position: top 68px left 90px;

    transition: 0.4s ease all;

    .modal-button-end-exit,
    .modal-button-end-next {
      border: 1px solid black;
      color: black;

      width: 150px;
      height: 48px;

      font-size: 16px;
      line-height: 18px;

      transition: 0.4s all ease;

      &:hover {
        background-color: #ffbca2;
        border: 1px solid #ffbca2;
      }
    }

    .modal-button-end-exit {
      margin-right: 5px;
    }
  }

  .quiz-modal-end-open {
    transform: translate(-50%, -50%);
  }

  .end-text {
    margin: 238px 0 31px;
    text-align: center;

    font-size: 22px;
    line-height: 28px;
  }

  .end-result {
    font-size: 48px;
    font-weight: 700;
    text-align: center;

    margin-bottom: 38px;
  }

  .quiz-modal-end-close {
    width: 14px;
    height: 14px;

    background-image: url("../../assets/svg/Close.svg");
    background-repeat: no-repeat;
    background-size: 14px 14px;

    cursor: pointer;

    background-color: transparent;
    border: none;

    display: block;
    margin: 23px 14px 0 auto;
  }

  // точки прогресса во время прохождения викторины--------------
  .question-picture-progress-dot {
    position: absolute;
    z-index: 3;
    bottom: 230px;
    left: 50%;
    transform: translateX(-50%);

    width: 230px;
  }

  .picture-progress-dot {
    width: 9px;
    height: 9px;

    display: inline-block;

    margin-right: 10px;

    border-radius: 50%;
    background-color: rgb(182, 182, 182);
  }

  .picture-progress-dot-true {
    background-color: #5eff99;
  }

  .picture-progress-dot-false {
    background-color: #ff5959;
  }
}
