.button {
  width: 268px;
  height: 56px;
  border-radius: 56px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-size: 24px;
  box-sizing: border-box;
  cursor: pointer;
}
