.main__toys__year {
  font-size: 20px;
  margin-bottom: 25px;
}

.main__toys__year-slider {
  width: 450px;
  margin: 25px 0 15px;
}

.main__toys__year-slider-num {
  display: flex;
  justify-content: space-between;
  width: 450px;
}