@media screen and (min-width: 300px) {
  .main-wrapper {
    margin: auto;
    transition: 0.4s ease all;
  }

  .main-settings {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    color: white;
    background-color: black;

    position: relative;

    width: 100vw;
    height: 100vh;

    .main-footer {
      width: 90%;
      margin-top: 30px;
    }
  }

  .settigs-back {
    position: absolute;
    top: 30px;
    left: 23px;

    border: none;

    background-color: transparent;
    background-image: url("../../assets/svg/settingsArrow.svg");
    background-repeat: no-repeat;
    background-size: 10px 20px;

    width: 10px;
    height: 20px;

    cursor: pointer;
  }

  .settings-name {
    font-size: 24px;
    line-height: 28px;
    margin: 28px 0 50px;
  }

  .volume-name {
    font-size: 30px;
    line-height: 28px;
    margin-bottom: 35px;
  }

  .settings-volume-range {
    position: relative;
  }

  .volume-range {
    -webkit-appearance: none;
    height: 3px;
    width: 298px;
    cursor: pointer;
    background-color: #a4a4a4;
  }

  .volume-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: pointer;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: white;
  }

  .button-mute {
    position: absolute;
    top: 35px;
    left: 0;
    background-image: url("../../assets/svg/volumeMute.svg");
    background-repeat: no-repeat;
    width: 23px;
    height: 16px;
  }

  .button-volume {
    position: absolute;
    top: 35px;
    right: 0;
    background-image: url("../../assets/svg/volume.svg");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
  }

  .time-game-name {
    margin: 86px 0 20px;
    font-size: 30px;
    line-height: 28px;
  }

  .time-answer {
    margin: 52px 0 20px;
    font-size: 30px;
    line-height: 28px;
  }

  .time-input {
    display: flex;
  }

  .btn-settings {
    border-radius: 50%;
    border: none;
    width: 33px;
    height: 33px;
    font-size: 30px;
  }

  .button-prev {
    margin-right: 25px;
    background-color: #ffbca2;
  }

  .button-next {
    margin-left: 25px;
  }

  .time-input-count {
    font-size: 24px;
    line-height: 28px;
  }

  .main-settings-button {
    display: flex;
    margin: 53px 0 50px;
    button {
      width: 156px;
    }
    .button-save {
      margin-left: 16px;
      background-color: #ffbca2;
      color: black;
    }
  }
}
